
    #author-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    span>p {
        margin-bottom: 0px;
    }

    .profile-pic {
        height: 48px;
        width: 48px;
        margin-right: 10px;
    }

    .icon {
        height: 32px;
        width: 32px;
    }

    #author {
        display: flex
    }

    .word {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border: 1px solid black;
        background-color: blue;
        padding: 10px;
        margin: 10px 0;
    }

    .createBtn:hover {
        cursor: pointer;
    }
