#author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



span>p {
    margin-bottom: 0px;
}

.profile-pic {
    height: 48px;
    width: 48px;
    margin-right: 10px;
}

.icon {
    height: 32px;
    width: 32px;
}

#author {
    display: flex
}

.word {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0d6efd;
    border-radius: 15px;
    min-height: 60px;
    /* max-height: 100px; */
    padding: 10px 50px;
    margin: 10px 0;
}

@media screen and (max-width: 500px) {
    .word {
        padding: 10px 20px;
        flex-flow: column;
    }
}

.id {
    background-color: red;
}

.createBtn:hover {
    cursor: pointer;

}

.createBtn {
    margin-left: 10px;
}