#author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



span>p {
    margin-bottom: 0px;
}

.profile-pic {
    height: 48px;
    width: 48px;
    margin-right: 10px;
}

.term {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons button {
    background-color: transparent;
    border: none;
}

.icon {
    height: 32px;
    width: 32px;
}

#author {
    display: flex
}

#label {
    margin-left: 10px;
}

#wordsContainer {
    padding: 10px;
}

.createBtn {
    width: calc(100% - 20px);
    margin-top: -50px;
    margin-left: 10px !important;
    line-height: 65px;
    border: none;
}

.word {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0d6efd;
    border-radius: 15px;
    min-height: 100px;
    /* max-height: 100px; */
    padding: 10px 20px;
    margin: 10px 0;
}

.word textarea {
    line-height: 1.3em;
}

.definition {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 20px;
}


@media screen and (max-width: 500px) {
    .word {
        padding: 10px 20px;
        flex-flow: column;
    }

    .term,
    .definition {
        width: 100%;
        margin: 5px;
    }

    .icons {
        margin-left: auto;
    }
}

.id {
    margin-right: 10px;
}

.createBtn:hover {
    cursor: pointer;
}