body {
    background-color: grey !important;
}

#setsButton:hover,
#foldersButton:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.dropdown-menu {
    min-width: 300px;
}

#containerAjax {
    padding: 5px 0;
}


#container {
    display: flex;
    flex-flow: row nowrap;
    margin: 5px;
}

.hover:hover {
    cursor: pointer;
}

.profilePicSm {
    height: 32px;
    width: 32px;
    border-radius: 15px;
}

.profilePicBg {
    height: 64px;
    width: 64px;
    border-radius: 32px;
}

#username,
#email {
    font-size: .7em;
    margin: 0 1px;
}

#body {
    margin: 0 5px;
}
