#author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span>p {
    margin-bottom: 0px;
}

.setContainer {
    padding: 10px;
}

.buttonContainer {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
}

.buttonContainer .btn {
    margin: 0px 1px;
    
}

@media screen and (max-width: 800px) {
    .buttonContainer {
        align-items: stretch;
    }

    .buttonContainer .btn {
        flex: 1;
    }
}

.profile-pic {
    height: 48px;
    width: 48px;
    margin-right: 10px;
}

.icon {
    height: 32px;
    width: 32px;
}

#author {
    display: flex
}

.word {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;
    background-color: blue;
    padding: 10px;
    margin: 10px 0;
}


#questionTypes {
    min-height: 100px;
    display: flex;
    flex-flow: column;
}


.form-check {
    padding-left: 0;
}

#starredTerms {
    min-width: 70%;
}

.container {
    display: flex;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

.flip-card:hover {
    cursor: pointer;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}


.set {
    display: block;
    /* margin-left: 5vw; */
    /* margin: 0 3em; */

}

.blur {
    position: absolute;
    border: 1px solid black;
    backdrop-filter: blur(5px);
    z-index: 1;

    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.menuContainer {
    background-color: grey;
    border: 1px solid red;
    position: relative;

}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;

    font-size: 30px;
}