{% extends 'aprender/index.html' %}
{% load static %}
{% block body %}

{% comment %} SCRIPTS {% endcomment %}
<link rel="stylesheet" href="{% static 'styles/createset.css' %}">
<script>
    const crossIconPath = "{% static 'icons/close.png' %}";
</script>
<script src="{% static 'plugins/createset.js' %}"></script>
<form method="post" action="{% url 'createset' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for=""> Study Set Label:
            {{CreateSet.label}}
        </label>
    </div>
    <div>
        <label for=""> description
            {{CreateSet.description}}
        </label>
    </div>
    <div>
        <label for=""> Set Image
            {{CreateSet.set_image}}
        </label>
    </div>
    <button onclick="return addField();">Add term</button>
    <div id='termDefinitionContainer'>
        <div class='term-definition' id="0">
            <label for=""> Term
                {{CreateSet.words}}
            </label>
            <label for=""> definition
                {{CreateSet.definitions}}
            </label>
        </div>
    </div>
    <input type="submit" name="create study set" id="" value="Create Study Set">
</form>
{% endblock body %}