{% extends 'aprender/index.html' %}
{% load static %}
{% block body %}

{% comment %} SCRIPTS {% endcomment %}
<link rel="stylesheet" href="{% static 'styles/createset.css' %}">
<script>
    const crossIconPath = "{% static 'icons/bin-dark.png' %}";
</script>
<script src="{% static 'plugins/createset.js' %}"></script>
<form method="post" action="{% url 'createset' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for=""> Study Set Label:
            {{CreateSet.label}}
        </label>
    </div>
    <div>
        <label for=""> Description
            {{CreateSet.description}}
        </label>
    </div>
    <div>
        <label for=""> Set Image
            {{CreateSet.set_image}}
        </label>
    </div>

    <div id='termDefinitionContainer'>
        <div class='card w-100 term-definition' id="0">
            <div class="card-header">
                <span id="id">0</span>
            </div>
            <div class="card-body">
                {{CreateSet.words}}
                {{CreateSet.definitions}}
            </div>
        </div>
    </div>
    <button onclick="return addField();" class="btn btn-primary">Add term</button>
    <input type="submit" name="create study set" id="" class="btn btn-primary" value="Create Study Set">
</form>
{% endblock body %}