{% extends 'aprender/study.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/set.css' %}">
<link rel="stylesheet" href="{% static 'styles/flashcards.css' %}">
<script src="{% static 'plugins/flashcards.js' %}"></script>
{% endblock head %}
{% block body %}
<div class="progress" style='height: 5px;'>
    <div id="progressBar" class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
        style="width: 0%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div style='background-color: grey;'>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000" style='height: 400px;'>
                <div class="flip-card" onclick='flip(this);' id="flipCardOne">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" id='carouselItemOneFront'>

                        </div>
                        <div class="flip-card-back" id='carouselItemOneBack'>

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000" style='height: 400px;'>
                <div class="flip-card" onclick='flip(this)' id="flipCardTwo">
                    <div class="flip-card-inner">
                        <div class="flip-card-front" id='carouselItemTwoFront'>

                        </div>
                        <div class="flip-card-back" id='carouselItemTwoBack'>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='controls-container'>
            <button class="btn btn-dark control" type="button" onclick='prevWord();'>
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="btn btn-dark control" type="button" onclick='nextWord();'>
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock body %}