{% extends 'aprender/index.html' %}
{% load static %}
{% block head %}
<script src="{% static 'plugins/folder.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
<link rel="stylesheet" href="{% static 'styles/folder.css' %}">
{% endblock head %}
{% block body %}
<section>

    <section>
        <h1 id="label">{{folder.label}}</h1>
        <input type="text" value="{{folder.label}}" class="hidden" id="labelInput">
    </section>
    {% if folder.description %}
    <section>
        <p id="description">{{folder.description}}</p>
        <input id="descriptionInput" type="text" value="{{folder.description}}" class="hidden">
    </section>
    {% endif %}
</section>
<section>
    {% if not folder.sets %}
    <p>It seems that any sets are in folder yet!</p>
    {% endif %}
    
    
    
    <!-- Button trigger modal -->
    <!-- TODO loadSets() functino is from index  separate in scripts.js-->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        onclick='loadSets(undefined, "{{request.user}}", "sets", true);'>Add Set</button>
    <button type="button" class="btn btn-secondary" onclick="toggleEdit();">Edit</button>
    <!-- Button trigger modal -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmation">
        Delete
    </button>
    <!-- Modal -->
    <div class="modal fade" id="deleteConfirmation" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <form action="{% url 'deleteFolder' folderId %}" method='POST'>
            {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete folder</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this folder?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete Folder</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a Set</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Recent sets</h3>
                    <div id='sets'>

                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div> -->
            </div>
        </div>
    </div>
    <h3>folder</h3>
    <section id="folderContainer">
        {% for set in folder.sets %}
        <!-- href="{% url 'set' set.id%}" -->
        <a class='set' href="{% url 'set' set.id%}" id="set_{{set.id}}">
            <div class='set-info'>
                <span>
                    <span> {{set.label}}</span>
                    <span style='display: block; margin-top: -.5em;'>{{set.wordsNumber}} terms</span>
                </span>

                {%if set.set_image%}
                <img class='set-icon' src="{{set.set_image.url}}" alt="set icon">
                {%endif%}
                <button type="button" name="cardDelete" class="btn btn-primary hidden" data-id='{{set.id}}'
                    onclick="deleteSet(this, event);"><img src="{% static 'icons/bin.png' %}"
                        alt="delete set from folder"></button>
            </div>
            <div style=''>
                <img src="{% static 'icons/user.png' %}" alt="Author profile icon">
                <span>{{set.author}}</span>
            </div>
        </a>

        <!-- <div class="folder" >
            <section>
                {{set.label}}
            </section>
        </div> -->
        {% endfor %}
    </section>

</section>
{% endblock body %}