{% extends 'aprender/index.html' %}
{% block head %}
{% endblock head %}
{% block body %}
<section>
    <!-- //TODO fodler blabla finish when back end is ready -->
    {{folder.label}}
</section>
<section>
    {% if not folder.sets %}
    <p>It seems that any sets are in folder yet!</p>


    {% else %}
    <!-- TODO -->
    add here all the sets in the folder
    {% comment %} {% for key in folder %}
    {{value}}
    {{set}}
    {% endfor %}{% endcomment %}
    {% endif %}

    <style>
        .included {
            background-color: green !important;
        }
    </style>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        onclick='loadSets(undefined, "{{request.user}}", "sets", true);'>Add Set</button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add a Set</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Recent sets</h3>
                    <div id='sets'>

                    </div>
                </div>
                {% comment %} <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div> {% endcomment %}
            </div>
        </div>
    </div>

    

    <h3>folder</h3>
    <section id="folderContainer">
        {% for set in folder.sets %}
        <div class="folder" id="set_{{set.id}}">
            <section>
                {{set.label}}
            </section>
        </div>
        {% endfor %}
    </section>

</section>
{% endblock body %}