{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}


    <title>live</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="libraryBtn" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Your Library
                        </a>
                        <ul class="dropdown-menu p-2">
                            {% comment %} <li><a class="dropdown-item" href="{% url 'sets' request.user %}">Study
                                    Sets</a></li>
                            <li><a class="dropdown-item" href="#">Folders</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">See all sets</a></li> {% endcomment %}
                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    let setsButton = document.querySelector("#setsButton");

                                    setsButton.addEventListener('click', (evt) => {
                                        evt.stopPropagation();
                                        loadSets(evt);
                                        hideLink();
                                    });

                                    let foldersButton = document.querySelector("#foldersButton");
                                    foldersButton.addEventListener('click', (evt) => {
                                        evt.stopPropagation();
                                        loadSets(evt);
                                        hideLink();
                                    });
                                    document.querySelector('#libraryBtn').addEventListener('click', loadSets);
                                })
                                function loadSets(event) {
                                    fetch("{% url 'fetchsets' request.user%}")
                                        .then(response => response.json())
                                        .then(result => result.forEach(card => addCard(card)) )
                                }

                                function addCard(card) {
                                    document.querySelector('#containerAjax').innerHTML = "";

                                    setTimeout(() => {
                                        let tmp = `
                                    <div class="card">
                                    <div class="card-header">
                                        ${card['label']}
                                    </div>
                                    <div class="card-body">
                                        ${card['wordsNumber']} words
                                    </div>
                                    </div>
                                    `;

                                    document.querySelector('#containerAjax').innerHTML += tmp;
                                    }, 1)

                                    
                                }

                                function loadFolders(event) {
                                    // event.stopPropagation();


                                    // document.querySelector('#setsButton').classList.toggle('active');
                                    // event.target.classList.toggle('active');
                                    // hideLink();
                                }

                                function hideLink() {
                                    // toggle classes for css
                                    document.querySelector('#foldersLink').classList.toggle('hidden');
                                    document.querySelector('#setsLink').classList.toggle('hidden');

                                    // toggle visibilyty for a links
                                    document.querySelector('#foldersButton').classList.toggle('active');
                                    document.querySelector('#setsButton').classList.toggle('active');
                                }
                            </script>
                            <style>
                                #setsButton:hover,
                                #foldersButton:hover {
                                    cursor: pointer;
                                }

                                .hidden {
                                    display: none;
                                }

                                .dropdown-menu {
                                    min-width: 300px;
                                }

                                #containerAjax {
                                    padding: 5px 0;
                                }
                            </style>

                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a id='setsButton' class="nav-link active text-dark" aria-current="page">Sets</a>
                                </li>
                                <li class="nav-item">
                                    <a id='foldersButton' class="nav-link text-dark" aria-current="page">Folders</a>
                                </li>
                            </ul>
                            <!-- TODO -->
                            <div id="containerAjax">
                                <!-- Here goes folders and sets -->




                            </div>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <a href="{% url 'sets' request.user %}" id="setsLink">View all sets</a>
                            <a href="#" id="foldersLink" class="hidden">View all folders</a>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Create
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'createset' %}" r class="dropdown-item" type="button">Study Set</a></li>
                            <li><button class="dropdown-item" type="button">Folder</button></li>
                        </ul>

                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <!-- Default dropstart button -->
                {% if not user.is_authenticated%}
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Sign In
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-end">
                        <form class="px-4 py-3" method='post' action="{% url ' login' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="DropdownFormEmail1" class="form-label">Email address</label>
                                {{LoginForm.username}}
                            </div>
                            <div class="mb-3">
                                <label for="DropdownFormPassword1" class="form-label">Password</label>
                                {{LoginForm.password}}
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'register' %}">New around here? Sign up</a>
                        <a class="dropdown-item" href="#">Forgot password?</a>
                    </div>
                </div>
                {% else %}
                <div class="btn-group">
                    <a type="button" class="m-2" data-bs-toggle="dropdown" data-bs-display="static"
                        aria-expanded="false">
                        <img src="{% static 'icons/user.png' %}" alt="profile pic">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        <li>
                            <style>
                                #container {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    margin: 5px;
                                }

                                #profilePic {
                                    height: 32px;
                                    width: 32px;
                                    border-radius: 15px;
                                }

                                #username,
                                #email {
                                    font-size: .7em;
                                    margin: 0 1px;
                                }

                                #body {
                                    margin: 0 5px;
                                }
                            </style>
                            <div id='container'>
                                {% comment %} TODO USERS PIC {% endcomment %}
                                <img id='profilePic' src="{% static 'icons/image.jpeg' %}" alt="profile pic">
                                <div id='body'>
                                    {% comment %} TODO USERS INFO {% endcomment %}
                                    <p id='username'> <strong>Medreres</strong></p>
                                    <p id='email'>mrtraitor252325@gmail.com</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><button class="dropdown-item" type="button">Profile</button></li>
                        <li><button class="dropdown-item" type="button">Another action</button></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    {% bootstrap_messages %}

    {% block body %}
    {% endblock body %}
</body>

</html>