{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}
    <style>
        .card {
            margin: 5px 0;
        }

        .card:hover {
            cursor: pointer;
            box-shadow: 0 0 5px #fd7e14;
        }

        .recentSet {
            border: 1px solid black;
            background-color: grey;

            display: flex;
            flex-flow: row wrap;
            margin: 0 3em;

        }

        .set {
            background-color: antiquewhite;

            min-height: 100px;
            min-width: 300px;
            margin: 10px;
            border: 1px solid red;
            padding: 10px;

            display: flex;
            flex-flow: row wrap;
            text-decoration: none;
            color: black;
            border-bottom: 3px solid transparent;
        }

        .set:hover {
            color: black;
            cursor: pointer;
            border-bottom: 3px solid black;
        }

        .set-icon {
            width: 64px;
            height: 64px;
        }

        .set-info {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .set-info>span {
            margin: 1px 0;
        }
    </style>

    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    {%if user.is_authenticated%}
    <script>
        // to make absolute url instead of relative
        let url = new URL(location.href);
        let path = url.origin;
        document.addEventListener("DOMContentLoaded", () => {

            // initially load colelction of sets
            loadSets(undefined);

            // on click for eact tab load content correspondingly (sets/folders)
            let setsButton = document.querySelector("#setsButton");
            setsButton.addEventListener('click', (evt) => {
                evt.stopPropagation();
                loadSets(evt);

                toggleActive('setsButton', 'foldersButton');
                toggleHidden('foldersLink', 'setsLink');
            });

            let foldersButton = document.querySelector("#foldersButton");
            foldersButton.addEventListener('click', (evt) => {
                evt.stopPropagation();
                loadFolders(evt);

                toggleActive('setsButton', 'foldersButton');
                toggleHidden('foldersLink', 'setsLink');
            });
            // document.querySelector('#libraryBtn').addEventListener('click', loadSets);
        })

        function loadSets(event, username = '{{request.user}}', id = 'containerAjax', addToFolder = false) {

            fetch(`${path}/${username}/fetchSetsAjax`)
                .then(response => response.json())
                .then(result => {
                    if (result.length === 0) {
                        addCard(undefined, id);
                    } else {
                        result.forEach(card => addCard(card, id, addToFolder));
                    }
                })
        }

        function addCard(card, id = 'containerAjax', addToFolder = false) {

            if (card === undefined) {
                document.querySelector(`#${id}`).innerHTML =
                    "It's seem that there is nothing to show!";
                return;
            }
            document.querySelector(`#${id}`).innerHTML = "";
            const numberOfEntities = ('wordsNumber' in card) ? `${card['wordsNumber']} words` :
                `${card['setsNumber']} sets`
            let template = document.createElement('div');
            template.classList.add('card');
            template.innerHTML = `<div class="card-header">
                ${card['label']}
            </div>
            <div class="card-body">
                ${numberOfEntities}
            </div>`;
            if (!addToFolder) {
                template.onclick = () => {
                    // provide location of the set/folder to reroute on click
                    // define if it's a set or a folder
                    if ('setsNumber' in card) {
                        location.href = `${path}/folders/${card['id']}`;
                    } else {
                        location.href = `${path}/sets/${card['id']}`;
                    }
                }
            }
            else {
                template.onclick = () => {
                    // make fetch query to add this set to folder
                    const folderId = location.href.substring(location.href.lastIndexOf('/')+1);
                    console.log(folderId)
                    console.log('adding to folder!', card['id'])
                    const path = `${location.href}/addSet`;
                    fetch(path, {
                        method: 'POST',
                        body: JSON.stringify({
                            folderId: folderId,
                            setId: card['id']
                        })
                    })
                    .then(response => response.json())
                    .then(result => {
                        console.log(result);
                    })
                }
            }


            setTimeout(() => {
                document.querySelector(`#${id}`).append(template);
            }, 1)
        }

        function addSetToFolder(setId) {
        }

        function loadFolders(event, username = '{{request.user}}', id = 'containerAjax') {

            let url = new URL(location.href);
            let path = url.origin;
            fetch(`${path}/${username}/fetchFoldersAjax`)
                .then(response => response.json())
                .then(result => {
                    if (result.length === 0) {
                        addCard(undefined);
                        return;
                    } else {
                        result.forEach(card => addCard(card, id))
                    }
                })
        }


        function toggleActive(...ids) {
            // console.log(a1,a2);
            // toggle classes for css
            ids.forEach(id => {
                document.querySelector(`#${id}`).classList.toggle('active');
            })
        }

        function toggleHidden(...ids) {
            ids.forEach(id => {
                document.querySelector(`#${id}`).classList.toggle('hidden');
            })
        }
    </script>
    {%endif%}
    {% block head %}
    {% endblock head %}
    <title>live</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'icons/logo.png' %}" alt="">
                aprender</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a id="libraryBtn" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Your Library
                        </a>
                        <ul class="dropdown-menu p-2">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a id='setsButton' class="nav-link active text-dark" aria-current="page">Sets</a>
                                </li>
                                <li class="nav-item">
                                    <a id='foldersButton' class="nav-link text-dark" aria-current="page">Folders</a>
                                </li>
                            </ul>
                            <div id="containerAjax">
                                <!-- Here goes folders and sets -->

                            </div>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <a href="{% url 'profile' request.user %}" id="setsLink">View all sets</a>
                            <a href="{% url 'profile' request.user %}" id="foldersLink" class="hidden">View all
                                folders</a>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Create
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'createset' %}" class="dropdown-item" type="button">Study Set</a></li>
                            <li>
                                <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#folderModal">
                                    Folder
                                </button>
                            </li>
                        </ul>

                        {% comment %} Form for creating folder {% endcomment %}
                        <div class="modal fade" id="folderModal" tabindex="-1" aria-labelledby="folderModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <form action="{% url 'createfolder' %}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="folderModalLabel">Create a new folder</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{CreateFolder.label}}
                                            {{CreateFolder.description}}
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-primary" value='Create a folder' />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </li>
                    {% endif %}
                </ul>
                {% comment %} TODO search form for searching sets/folders {% endcomment %}
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                {% if not request.user.is_authenticated %}
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Sign In
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-end">
                        <form class="px-4 py-3" method='post' action="{% url 'login' %}?next={{request.path}}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="DropdownFormEmail1" class="form-label">Email address</label>
                                {{LoginForm.username}}
                            </div>
                            <div class="mb-3">
                                <label for="DropdownFormPassword1" class="form-label">Password</label>
                                {{LoginForm.password}}
                            </div>
                            {% comment %} <a class="btn btn-primary" href="{% url 'login' %}?next={{request.path}}">Sign
                                In</a>
                            {% endcomment %}
                            <input type="hidden" value='{{request.path}}'>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'register' %}">New around here? Sign up</a>
                        <a class="dropdown-item" href="#">Forgot password?</a>
                    </div>
                </div>
                {% else %}
                <div class="btn-group">
                    <a type="button" class="m-2" data-bs-toggle="dropdown" data-bs-display="static"
                        aria-expanded="false">
                        <img src="{% static 'icons/user.png' %}" alt="profile pic">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        <li>
                            <div id='container'>
                                {% comment %} TODO USERS PIC {% endcomment %}
                                <img class="profilePicSm" src="{% static 'icons/image.jpeg' %}" alt="profile pic">
                                <div id='body'>
                                    <p id='username'> <strong>{{request.user}}</strong></p>
                                    <p id='email'>{{request.user.email}}</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'profile' request.user %}" type="button">Profile</a>
                        </li>
                        <li><button class="dropdown-item" type="button">Another action</button></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}} ">Log Out</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    {% bootstrap_messages %}

    {% block body %}
    {% if user.is_authenticated %}
    <h1>Recent Sets Studied</h1>
    <div class='recentSet'>
        {% for set in recentSets %}
        <a class='set' href={% url 'set' set.id%}>
            <div class='set-info'>
                <span>
                    <span> {{set.label}}</span>
                    <span style='display: block; margin-top: -.5em;'>{{set.wordsNumber}} terms</span>
                </span>
                <img class='set-icon' src="{% static 'icons/image.jpeg' %}" alt="set icon">
            </div>
            <div style=''>
                <img src="{% static 'icons/user.png' %}" alt="Author profile icon">
                <span>{{set.author}}</span>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}
    <h2>All sets</h2>
    <div class='recentSet'>
        {% for set in allSets %}
        <a class='set' href={% url 'set' set.id%}>
            <div class='set-info'>
                <span>
                    <span> {{set.label}}</span>
                    <span style='display: block; margin-top: -.5em;'>{{set.wordsNumber}} terms</span>
                </span>
                <img class='set-icon' src="{% static 'icons/image.jpeg' %}" alt="set icon">
            </div>
            <div style=''>
                <img src="{% static 'icons/user.png' %}" alt="Author profile icon">
                <span>{{set.author}}</span>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endblock body %}
</body>

</html>