{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <script>
        var username = "{{request.user|escapejs}}";
        var binIconPath = "{% static 'icons/bin.png' %}";
        var userIconPath = "{% static 'icons/user.png' %}";
        var imageIconPath = "{% static 'icons/image.jpeg' %}";
    </script>
    <script src="{% static 'plugins/index.js' %}"></script>
    {% if request.user.is_authenticated %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // initially load colelction of sets
            loadSets(undefined);
            detectClickFolders();
            detectClickFavorite();
            detectClickSets();
        })
        {% endif %}
    </script>
    
    {% block head %}
    {% endblock head %}
    <title>live</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'icons/logo.png' %}" alt="">
                aprender</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a id="libraryBtn" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Your Library
                        </a>
                        <ul class="dropdown-menu p-2">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a id='setsButton' class="nav-link active text-dark" aria-current="page">Sets</a>
                                </li>
                                <li class="nav-item">
                                    <a id='foldersButton' class="nav-link text-dark" aria-current="page">Folders</a>
                                </li>
                                <li class="nav-item">
                                    <a id='favorite' class="nav-link text-dark" aria-current="page">Favorite</a>
                                </li>
                            </ul>
                            <div id="containerAjax">
                                <!-- Here goes folders and sets -->

                            </div>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <a href="{% url 'profile' request.user %}" id="setsLink">View all sets</a>
                            <a href="{% url 'profile' request.user %}" id="foldersLink" class="hidden">View all
                                folders</a>
                            <a href="{% url 'profile' request.user %}" id="favoritesLink" class="hidden">View all
                                favorites</a>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Create
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'createset' %}" class="dropdown-item" type="button">Study Set</a></li>
                            <li>
                                <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#folderModal">
                                    Folder
                                </button>
                            </li>
                        </ul>

                        {% comment %} Form for creating folder {% endcomment %}
                        <div class="modal fade" id="folderModal" tabindex="-1" aria-labelledby="folderModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <form action="{% url 'createfolder' %}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="folderModalLabel">Create a new folder</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{CreateFolder.label}}
                                            {{CreateFolder.description}}
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" class="btn btn-primary" value='Create a folder' />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </li>
                    {% endif %}
                </ul>
                {% comment %} TODO search form for searching sets/folders {% endcomment %}
                <form class="d-flex" role="search" action="{% url 'search' %}">
                    <input class="form-control me-2" type="search" name='search' placeholder="Search Set"
                        aria-label="Search">
                </form>
                {% if not request.user.is_authenticated %}
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Sign In
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-end">
                        <form class="px-4 py-3" method='post' action="{% url 'login' %}?next={{request.path}}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="DropdownFormEmail1" class="form-label">Email address</label>
                                {{LoginForm.username}}
                            </div>
                            <div class="mb-3">
                                <label for="DropdownFormPassword1" class="form-label">Password</label>
                                {{LoginForm.password}}
                            </div>
                            {% comment %} <a class="btn btn-primary" href="{% url 'login' %}?next={{request.path}}">Sign
                                In</a>
                            {% endcomment %}
                            <input type="hidden" value='{{request.path}}'>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'register' %}">New around here? Sign up</a>
                        <a class="dropdown-item" href="#">Forgot password?</a>
                    </div>
                </div>
                {% else %}
                <div class="btn-group">
                    <a type="button" class="m-2" data-bs-toggle="dropdown" data-bs-display="static"
                        aria-expanded="false">
                        <img src="{% static 'icons/user.png' %}" alt="profile pic" style='height: 32px'>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        <li>
                            <div id='container'>
                                {% comment %} TODO USERS PIC {% endcomment %}
                                {% if request.user.profile_image %}
                                <img class="profilePicSm" src="{{request.user.profile_image.url}}" alt="profile pic">
                                {% else %}
                                <img class="profilePicSm" src="{% static 'icons/user.png'%}" alt="profile pic">
                                {% endif %}
                                <div id='body'>
                                    <p id='username'> <strong>{{request.user}}</strong></p>
                                    <p id='email'>{{request.user.email}}</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'profile' request.user %}" type="button">Profile</a>
                        </li>
                        <li><a class="dropdown-item" type="button" href="{% url 'settings' %}">Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}} ">Log Out</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    {% bootstrap_messages %}

    {% block body %}
    {% if user.is_authenticated %}
    <h1>Recent Sets Studied</h1>
    <div class='recentSet'>
        {% for set in recentSets %}
        <a class='set' href={% url 'set' set.id%}>
            <div class='set-info'>
                <span>
                    <span> {{set.label}}</span>
                    <span style='display: block; margin-top: -.5em;'>{{set.wordsNumber}} terms</span>
                </span>
                {%if set.set_image%}
                <img class='set-icon' src="{{set.set_image.url}}" alt="set icon">
                {%endif%}
            </div>
            <div style=''>
                <img class="profilePicSm"
                    src="{% if set.author.profile_image %}{{set.author.profile_image.url}}{%else%}{% static 'icons/user.png' %}{%endif%}"
                    alt="profile icon">
                <span>{{set.author}}</span>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}
    <h2>All sets</h2>
    <div class='recentSet'>
        {% for set in allSets %}
        <a class='set' href="{% url 'set' set.id%}">
            <div class='set-info'>
                <span>
                    <span> {{set.label}}</span>
                    <span style='display: block; margin-top: -.5em;'>{{set.wordsNumber}} terms</span>
                </span>
                {%if set.set_image%}
                <img class='set-icon' src="{{set.set_image.url}}" alt="set icon">
                {%endif%}
            </div>
            <div style=''>
                <img class="profilePicSm"
                    src="{% if set.author.profile_image %}{{set.author.profile_image.url}}{%else%}{% static 'icons/user.png' %}{%endif%}"
                    alt="profile icon">
                <span>{{set.author}}</span>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endblock body %}
</body>

</html>