{% extends 'aprender/study.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/learn.css' %}">
<script src="{% static 'plugins/learn.js' %}"></script>
{% endblock head %}
{% block body %}

<div id="learnCardContainer">
    <!-- here goes all the cards with words to learn -->
</div>
<div id="roundMenu" class="roundMenu hidden">
    <p>That's the end of the round!</p>
    <p>Words your learned</p>
    <div id="wordsLearned">
        <!-- here goes all the learned words throught a round -->
    </div>
    <button onclick="startNewRound();">Start a New Round</button>
</div>
<div id="restartMenu" class="restartMenu hidden">
    <button onclick="restartLearnWay();">Restart</button>
</div>
{% endblock body %}