{% extends 'aprender/index.html' %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}
<div class='recentSet'>
    {% for set in result %}

    <div class="card" onclick="getToSet(this);" id="set_{{set.id}}" data-id="{{set.id}}">
        <div class="card-header">
            {{set.label}}
        </div>
        <div class="card-body">
            <section>
                <h5 class="card-title">{{set.author}}</h5>
                <p class="card-text">{{set.wordsNumber}} terms</p>
            </section>
            {% if set.set_image %}
            <img class="set-icon d-none d-md-block" src="{{set.set_image.url}}" alt="set icon">
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}