{% extends 'aprender/index.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/set.css' %}">
<script>
	var pencilIconPath = "{% static 'icons/pencil.png' %}";
	var heartIconPath = "{% static 'icons/heart.png' %}"
	var heartRedIconPath = "{% static 'icons/heart-red.png' %}";
	const setId = parseInt('{{id}}');
</script>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'plugins/set.js' %}"></script>
{% if not learnStarted %}
<script>
	function createLearnPath() {
		const idOfSet = url.pathname.substring(url.pathname.lastIndexOf('/') + 1);
		// create set and reload page
		fetch(`${url.origin}/${idOfSet}/createLearnPath`)
			.then(response => {
				location.reload();
			})
	}
</script>
{%endif %}
{% endblock head %}
{% block body %}
<section class='setContainer'>
	<h1>{{set.label}}</h1>
	<div class="menuContainer">
		<div class='buttonContainer'>
			<a type="button" class="btn btn-primary" href="{% url 'flashcards' id %}">Flashcards</a>
			<a type="button" class="btn btn-primary" href="{% url 'learn' id %}">Learn</a>
			<!-- <a type="button" class="btn btn-primary" href="{% url 'test' id %}">Test</a> -->
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testModal">
				Test
			</button>
			{% if set.author.id == request.user.id %}
			<a type="button" class="btn btn-primary" href="{% url 'edit' id %}">Edit</a>
			{% endif %}
		</div>
		<!-- Modal -->
		<div class="modal fade" id="testModal" tabindex="-1" aria-labelledby="testModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action="{% url 'test' id %}" method='get'>
						<div class="modal-header">
							<h5 class="modal-title" id="testModal">Test settings</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="container">


								<div class="form-check" id='questionTypes'>
									{{TestForm.questionTypes}}
								</div>
								<div id="limitAndImages">
									<div id="questionLimit">
										Question Limit {{TestForm.questionLimit}}
									</div>
									<!-- <div id="showImages">
										<label for="">Images {{TestForm.showImages}} </label>
									</div> -->

								</div>
							</div>
							<div id="starredTerms">
								<label for="">Study Starred Terms

									{% comment %} {{TestForm.starredTerms}} {% endcomment %}


									<div id='id_starredTerms' class='btn-group'>
										{% for field in TestForm.starredTerms %}
										<div>
											<input type="radio" name="starredTerms" class="btn-check"
												id="{{ field.id_for_label }}" name="{{ field.html_name }}"
												{% if field.choice_label == 'Starred' %}checked{%endif%}
												value='{{field.choice_label|lower}}' role='group'>
											<label
												class="btn btn-outline-{% if field.choice_label == 'All'%}warning{% else %}success{%endif%}"
												for="{{ field.id_for_label }}">{{field.choice_label}}</label>
										</div>
										{% endfor %}
									</div>

								</label>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Start Test</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		{% comment %}
		<hr class="dropdown-divider"> {% endcomment %}
		<!-- carousel for taking look at cards with words -->
		<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="10000" style='height: 400px;'>
					<div class="flip-card" onclick='flip(this);' id="flipCardOne">
						<div class="flip-card-inner">
							<div class="flip-card-front" id='carouselItemOneFront'>
							</div>
							<div class="flip-card-back" id='carouselItemOneBack'>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item" data-bs-interval="2000" style='height: 400px;'>
					<div class="flip-card" onclick='flip(this)' id="flipCardTwo">
						<div class="flip-card-inner">
							<div class="flip-card-front" id='carouselItemTwoFront'>
							</div>
							<div class="flip-card-back" id='carouselItemTwoBack'>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" onclick='prevWord();'>
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" onclick='nextWord();'>
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		{% if user.is_authenticated and not learnStarted %}
		<!-- blurring div in case learn program hasn't been created yet  -->
		<div class='blur'>
			<p> Opps! It's seems that you haven't create your learning way yet!</p>
			<p>Click <button onclick="createLearnPath();" class="btn bg-primary">Create</button> to start studying term
				right off the bat!</p>
		</div>
		<!-- TODO ! in safari doesn't show up correctly -->
		{% elif not user.is_authenticated %}
		<div class='blur'>
			<p> Opps! It's seems that you haven't signed in yet!</p>
			<p>Sign in to start learning words right now!</p>
		</div>
		{% endif %}
	</div>
	<section id="author-info">
		<!-- INFO ABOUT CREATOR -->
		<!-- TODO add icons for users and use their own icons  -->
		<div id='author'>
			<img class="profilePicSm"
				src="{% if set.author.profile_image %}{{set.author.profile_image.url}}{%else%}{% static 'icons/user.png' %}{%endif%}"
				alt="profile icon">
			<span>
				<p>Created by</p>
				<a style="color: black; font-size: 15px;" href="{% url 'profile' set.author %}">
					<strong>
						{{set.author}}
					</strong></a>
			</span>
		</div>
		<span>
			<!-- icons for adding set to folder,editing,sharing -->
			{% if set.author == request.user.username %}
			<a href="{% url 'edit' id %}"><img src="{% static 'icons/pencil.png' %}" class="icon" alt="Edit set"></a>
			{% endif %}
			{% if request.user.is_authenticated %}
			{% if isFavorite %}
			<button onclick='toggleLike(this);' class="btn btn-primary" data-id={{id}}><img
					src="{% static 'icons/heart-red.png' %}" alt="heart"></button>
			{% else %}
			<button onclick='toggleLike(this);' class="btn btn-primary" data-id={{id}}><img
					src="{% static 'icons/heart.png' %}" alt="heart"></button>
			{% endif %}
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addToFolderModal">
				<img src="{% static 'icons/add.png' %}" alt="add to folder icon">
			</button>

			<!-- Modal -->
			<div class="modal fade" id="addToFolderModal" data-bs-backdrop="static" data-bs-keyboard="false"
				tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">Add Set to Folder</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body folder-container">
							{% for folder in folders %}

							<div class="card w-100" onclick="addSetToFolder('{{folder.id}}');">
								<div class="card-header">
									{{folder.label}}
								</div>
								<div class="card-body">
									<h5 class="card-title">{{folder.description}}</h5>
								</div>
							</div>
							{% endfor %}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</span>
	</section>
	<script src="{% static 'plugins/twbs-pagination/jquery.twbsPagination.js' %}">
		// script for rght pagination
	</script>
	<article id='words'>
		<h2>Terms in this set</h2>
		<nav>
			<ul class="pagination" id='paginationUpper'>
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">Previous</a>
				</li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item ">
					<a class="page-link" href="#">2</a>
				</li>

				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
		<section id='wordsContainer'>
		</section>
	</article>
</section>
{% endblock body %}