{% extends 'aprender/index.html' %}
{% load static %}
{% block head %}

{% endblock head %}
{% block body %}
{% comment %} <p>{{user.first_name}}</p>

<p>{{user.last_name}}</p>
<p>{{user.password}}</p>
<p>{{user.email}}</p>
<img style='height: 800px;' src="{{ user.profilePic.url }}" alt=""> {% endcomment %}
<section class='d-flex justify-content-between p-4'>
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        {{EditUser.as_ul}}
        {% comment %}
        <label for="">
            {{EditUser.profile_image.label}}
            {{EditUser.profile_image}}
        </label> {% endcomment %}


        <input type="submit" value='Update Profile' class='btn btn-primary'>
        <a type="button" class="btn btn-primary " href="{% url 'changePassword' %}">Change Password</a>
        <!-- Button trigger modal -->


    </form>
    <!-- Modal -->
    <img class="align-self-center" style='height: 200px; border-radius: 20px;'
        src="{% if user.profile_image and user.profile_image != 'False' %}{{user.profile_image.url}}{%else%}{% static 'icons/user.png' %}{%endif%}"
        alt="Author profile icon">
</section>
{% endblock body %}