{% extends 'aprender/study.html' %}
{% block head %}
<style>
    .learn-card {
        background-color: grey;
        border-radius: 30px;
        min-height: 100px;
        min-width: 100px;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 5vh;
        padding: 10px;

        display: flex;
        flex-flow: column nowrap;
    }


    .definition {
        /* margin-bottom: 10vh; */
        align-self: flex-start;
        /* margin: 10px; */
    }

    .definitions {
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        max-width: 700px;

        justify-content: center;
    }

    .answer {
        min-width: 300px;
        margin: 10px;
        transition-duration: 1s;
        transition-property: background-color;
    }

    .hidden {
        display: none;
    }

    .word {
        display: flex;
        justify-content: center;

        justify-content: space-between;
    }

    .roundMenu {
        margin: 10vh auto;
        padding: 10px;
        border: 1px solid black;
    }

    .correct {
        background-color: green;
    }

    .incorrect {
        background-color: red;
    }

    .definitions>* {
        transition: background-color 1s;
    }
</style>
<script>
    function checkResults(form) {
        const data = new FormData(form);
        console.log(data.getAll('np'))
        return false;
    }
    var numberOfWordsGeneral = '{{numberOfWordsGeneral}}';
    var numberOfWordsCorrect = 0;
    var currentWord = 0;

    // add id for all questions to parse them easier and hides all words
    function addIndexes() {
        document.querySelectorAll('.learn-card').forEach((element, index) => {
            if (index != 0)
                element.classList.add('hidden');
            element.id = `id_${index}`;
        })
    }

    document.addEventListener('DOMContentLoaded', () => {
        addIndexes();
    })

    function checkAnswer(element) {
        const url = new URL(location.href);
        let path = url.origin + '/sets/{{id}}/learn/check';
        // console.log(element.value)
        console.log(path);
        fetch(path, {
            method: 'POST',
            body: JSON.stringify({
                'id': element.dataset.id,
                'definition': element.value
            })
        })
            .then(response => response.json())
            .then(result => {
                if (result['answer'] === true) {
                    element.classList.toggle('correct');
                    // numberOfWordsCorrect++;
                }
                else {
                    element.classList.toggle('incorrect');
                }


                setTimeout(() => {
                    toggleNextDiv(currentWord);
                    toggleNextDiv(currentWord + 1);
                    currentWord++;
                }, 2000)

                // element.addEventListener('transitionend', () => {
                //     setTimeout(() => {




                //     })
                // }, 2000);

            })
    }

    function toggleNextDiv(id) {
        document.querySelector(`#id_${id}`).classList.toggle('hidden');
    }


    function checkWord(evt) {
        if (evt.name === 'written') {
            evt.disabled = true;
            // console.log(`input[name="written"] [data-id="${evt.dataset.id}"]`)
            let definition = document.querySelector(`input[name="written"][data-id="${evt.dataset.id}"]`);
            console.log(definition);
            checkAnswer(definition);
        }
    }
</script>

{% endblock head %}

{% comment %} TODO show one after another all the divs, check their answer , at the end show end menu with
score{% endcomment %}
{% block body %}
<section>
    {% csrf_token %}
    {% comment %} each word has it's keys: word, definition, id {% endcomment %}
    {% for key,value in questions.items %}
    {% for word in value %}
    <div class='learn-card'>
        <span>Definition</span>
        <div class='word-container'>
            <span class='word'>{{word.word}}</span>
            {% if key == 'true' %}
            means {{word.definition}}
            {% endif %}
            <div class='picture'></div>
        </div>


        <div class='definitions'>
            {% if key == 'multiple' %}
            {% for definition in word.definition %}
            <input type="button" class="btn btn-primary answer" data-id='{{word.id}}' data-definition="{{definition}}"
                value='{{definition}}' name="definition" autocomplete="off" />

            {% endfor %}
            {% elif key == 'written' %}
            <input type="text" data-id='{{word.id}}' name='written' autocomplete="off">
            <button onclick="checkWord(this);" data-id="{{word.id}}" name="written" class="btn btn-primary">Check</button>
            {% else %}

            <button type="button" class="btn btn-primary answer" data-id='{{word.id}}'
                data-definition="{{word.definition}}">True</button>
            <button type="button" class="btn btn-primary answer" data-id='{{word.id}}'
                data-definition="{{word.definition}}">False</button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endfor %}
    <button type="submit" class='btn btn-primary hidden'>Submit</button>
</section>

<section id='result'>

    <h2>Result</h2>


</section>
{% endblock %}