{% extends 'aprender/study.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/test.css' %}">
<script src="{% static 'plugins/test.js' %}"></script>
<script>
    var numberOfWordsGeneral = {{numberOfWordsGeneral}};
    const setId = {{id}};
</script>

{% endblock head %}

<!-- TODO show one after another all the divs, check their answer , at the end show end menu with score --> 

{% block body %}
<section id='wordsSection'>
    {% csrf_token %}
    {% comment %} each word has it's keys: word, definition, id {% endcomment %}
    {% for key,value in questions.items %}
    {% for word in value %}
    <div class='learn-card'>
        <span>Definition</span>
        <div class='word-container'>
            <span class='word'>{{word.word}}</span>
            {% if key == 'true' %}
            means {{word.definitionRandom}}
            {% endif %}
            <div class='picture'></div>
        </div>


        <div class='definitions'>
            <!-- for each type of question different method is used -->
            {% if key == 'multiple' %}
            {% for definition in word.definition %}
            <input type="button" class="btn btn-primary answer" data-id='{{word.id}}' value='{{definition}}'
                name="multiple" onclick="checkWord(this);" />
            {% endfor %}
            {% elif key == 'written' %}
            <!-- just check spelling via checkWord() function -->
            <input autofocus type="text" data-id='{{word.id}}' name='written' autocomplete="off">
            <button onclick="checkWord(this);" data-id="{{word.id}}" name="written"
                class="btn btn-primary">Check</button>
            {% elif key == 'true' %}
            <!-- TODO implement mechanism for checking via true/false -->
            {% comment %} {{word.definition}} {% endcomment %}
            {% if word.definitionRandom == word.definitionTrue %}
            <button type="button" name="true" class="btn btn-primary answer" data-id='{{word.id}}'
                value="{{word.definitionTrue}}" onclick="checkWord(this);">True</button>
            <button type="button" name="true" class="btn btn-primary answer" data-id='{{word.id}}' value=""
                onclick="checkWord(this);">False</button>
            {% else %}
            <button type="button" name="true" class="btn btn-primary answer" data-id='{{word.id}}'
                value="{{word.definitionRandom}}" onclick="checkWord(this);">True</button>
            <button type="button" name="true" class="btn btn-primary answer" data-id='{{word.id}}'
                value="{{word.definitionTrue}}" onclick="checkWord(this);">False</button>
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endfor %}
    <button type="submit" class='btn btn-primary hidden'>Submit</button>
</section>

<section id='result' class="hidden">

    <h2>Result</h2>
    <span id='resultStat'></span>

</section>
{% endblock %}