{% extends 'aprender/study.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'styles/test.css' %}">
<script src="{% static 'plugins/test.js' %}"></script>
<script>
    var numberOfWordsGeneral = '{{numberOfWordsGeneral}}';
    const setId = '{{id}}';
</script>

{% endblock head %}

<!-- TODO show one after another all the divs, check their answer , at the end show end menu with score -->

{% block body %}
<section id='wordsSection'>
    {% csrf_token %}
    {% comment %} each word has it's keys: word, definition, id {% endcomment %}
    {% for key,value in questions.items %}
    {% for word in value %}
    <div class='learn-card'>
        <span style='text-align: center'>Definition</span>
        <div class='word-container'>
            <span style='text-align: center' class='word'>{{word.word}}</span>
            {% if key == 'true' %}
            means
            <br>
            {{word.definitionRandom}}
            {% endif %}
            <div class='picture'></div>
        </div>


        <div class='definitions'>
            <!-- for each type of question different method is used -->
            {% if key == 'multiple' %}
            {% for definition in word.definition %}
            <input type="button" class="btn btn-primary answer" data-id='{{word.id}}' value='{{definition}}'
                name="multiple" onclick="checkWord(this);" />
            {% endfor %}
            {% elif key == 'written' %}
            <!-- just check spelling via checkWord() function -->
            <input autofocus type="text" data-id='{{word.id}}' name='written' autocomplete="off">
            <button onclick="checkWord(this);" data-id="{{word.id}}" name="written"
                class="btn btn-primary">Check</button>
            {% elif key == 'true' %}
            <!-- TODO implement mechanism for checking via true/false -->
            {% comment %} {{word.definition}} {% endcomment %}
            {% if word.definitionRandom == word.definitionTrue %}
            <button type="button" name="true" class="btn btn-primary answer" data-id='{{word.id}}'
                value="{{word.definitionTrue}}" onclick="checkWord(this);">True</button>
            <button type="button" name="true" class="btn btn-primary answer" data-id='{{word.id}}' value=""
                onclick="checkWord(this);">False</button>
            {% else %}
            <button type="button" name="true" class="btn btn-primary answer" data-id='{{word.id}}'
                value="{{word.definitionRandom}}" onclick="checkWord(this);">True</button>
            <button type="button" name="true" class="btn btn-primary answer" data-id='{{word.id}}'
                value="{{word.definitionTrue}}" onclick="checkWord(this);">False</button>
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endfor %}
    <button type="submit" class='btn btn-primary hidden'>Submit</button>
</section>


<section id='result' style='display: none;'>

    <h2>Result</h2>
    <div class="progress mb-5" id='resultStat' style='width: 50vw;'>
        <div class="progress-bar" id='percents' role="progressbar" aria-label="Example with label" style="width: 1%;"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">1%</div>
    </div>
    <button class="btn-lg btn-primary" onclick="location.reload()">Try Again!</button>
    <a class='btn btn-primary mt-2' href="{% url 'set' id %}" role="button">Get back to Set</a>
</section>
{% endblock %}